In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [24]:
ph = pd.read_csv('phone.csv')
ph

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [25]:
ph.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [26]:
ph = ph.drop(['blue','clock_speed','dual_sim','fc','int_memory','m_dep','mobile_wt','px_width','sc_h','sc_w','talk_time','three_g','touch_screen', 'wifi','price_range'],axis=1)

In [27]:
ph

      battery_power  four_g  n_cores  pc  px_height   ram
0               842       0        2   2         20  2549
1              1021       1        3   6        905  2631
2               563       1        5   6       1263  2603
3               615       0        6   9       1216  2769
4              1821       1        2  14       1208  1411
...             ...     ...      ...  ..        ...   ...
1995            794       1        6  14       1222   668
1996           1965       0        4   3        915  2032
1997           1911       1        8   3        868  3057
1998           1512       1        5   5        336   869
1999            510       1        6  16        483  3919

[2000 rows x 6 columns]

In [28]:
"""x = ph[['battery_power', 'n_cores', 'pc', 'px_height', 'ram']] 
y = ph['four_g'] """
X = ph.drop(columns='four_g', axis=1)
Y = ph['four_g']

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2 ,random_state=0)

In [30]:
models=[['Naive Bayes :', GaussianNB()],['LogisticRegression :', LogisticRegression()], ['DecisionTree :',DecisionTreeClassifier()],['RandomForest :',RandomForestClassifier()]]
predictions_ph = pd.DataFrame()
Y_train

582     1
159     0
1827    1
318     1
708     0
       ..
835     0
1216    1
1653    0
559     0
684     1
Name: four_g, Length: 1600, dtype: int64

In [35]:
for name,model in models:
    model = model
    model.fit(X_train, Y_train.ravel())
    predictions = model.predict(X_test)
    predictions_ph[name.strip(":")] = predictions
    print(name, accuracy_score(Y_test, predictions))
predictions_ph

Naive Bayes : 0.525
LogisticRegression : 0.51
DecisionTree : 0.475
RandomForest : 0.495

     Naive Bayes   LogisticRegression   DecisionTree   RandomForest
0               1                    1              1              1
1               1                    1              0              0
2               1                    1              1              1
3               1                    1              1              1
4               1                    1              1              1
..            ...                  ...            ...            ...
395             0                    0              0              0
396             0                    0              0              1
397             1                    0              0              0
398             1                    1              1              1
399             1                    1              1              1

[400 rows x 4 columns]

In [36]:
import numpy as np
import warnings
from sklearn import datasets
from sklearn import model_selection
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB 
warnings.filterwarnings("ignore")

In [37]:
clf1 = LogisticRegression()
clf2 = RandomForestClassifier()
clf3 = GaussianNB()
clf4 = DecisionTreeClassifier()
labels = ['Logistic Regression', 'Random Forest', 'Naive Bayes','DecisionTreeClassifier]

In [39]:
for clf, label in zip([clf1, clf2, clf3,clf4], labels):
 scores = model_selection.cross_val_score(clf, X, Y,cv=5,scoring='accuracy')
print("Accuracy:%0.2f [%s]"% (scores.mean(), label))

Accuracy:0.50 [DecisionTreeClassifier]